.addToCart-container{
    position: absolute;
    top: 5%;
    left: 85%;

}
.addToCart-wrapper{
    display: flex;
    justify-content: center;
}
.addToCart-wrapper img{
    padding: 2px;
    width: 60px;
    position: relative;
    background-color: cadetblue;
}

.cart-Count{
    position: relative;
    right: 1.7rem;
    top: 1.4px;
    z-index: 1;
    background: #0b0a13;
    padding: 3px;
    padding-bottom: 9px;
    width: 20px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    justify-content: center;
    align-items: center;
}